{% extends 'base.html.twig' %}
{% block title %}Hello ChambreController!{% endblock %}
{% block body %}
    <div class="text-center">
        <h1>BIENVENUE DANS NOTRE PLATEFORME</h1>
        <img src="{{asset('img/salle1.jpg')}}">
    </div>
{% endblock %}