<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('css/acc.css')}}">
        {% endblock %}
    </head>
    <body>
        <div class="card-header text-center text-white bg-primary py-4">
            Bienvenue sur la plateforme de gestion de l'allocation des chambres
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-link text-white" href="/chambre/create">Ajout Chambre <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="nav-link text-white" href="/chambre">Liste Chambre</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link text-white" href="/etudiant/create">Ajout Etudiant</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link text-white" href="/etudiant">Liste Etudiant</a>
                    </li>
                    </ul>
                    <li class="form-inline my-2 my-lg-0">
                       <a href="{{path('security_logout')}}"> <button class="btn btn-outline-primary my-2 my-sm-0">Deconnexion</button></a>
                    </li>
                </div>
            </nav>
        </div>
        {% block body %}{% endblock %}
        <footer class="font-small blue fixed-bottom bg-primary ">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-2 text-white">© 2020 Copyright SA 2020
            
            </div>
            <!-- Copyright -->
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
